<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logovanje</servlet-name>
        <servlet-class>servleti.Logovanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>servleti.Registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistracijaKorisnika</servlet-name>
        <servlet-class>servleti.RegistracijaKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaKorisnika</servlet-name>
        <servlet-class>servleti.ListaKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaKorisnika1</servlet-name>
        <servlet-class>servleti.ListaKorisnika1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Izlgovanje</servlet-name>
        <servlet-class>servleti.Izlgovanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AzuriranjeKorisnika</servlet-name>
        <servlet-class>servleti.AzuriranjeKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromeniKorisnika</servlet-name>
        <servlet-class>servleti.PromeniKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dodajfilm</servlet-name>
        <servlet-class>servleti.Dodajfilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaFilmova</servlet-name>
        <servlet-class>servleti.ListaFilmova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromeniFilm</servlet-name>
        <servlet-class>servleti.PromeniFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFilmovi</servlet-name>
        <servlet-class>servleti.UpdateFilmovi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajSale</servlet-name>
        <servlet-class>servleti.DodajSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeProizvoda</servlet-name>
        <servlet-class>servleti.DodavanjeProizvoda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProizvoda</servlet-name>
        <servlet-class>servleti.ListaProizvoda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reklamacija</servlet-name>
        <servlet-class>servleti.Reklamaciija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reklamacije</servlet-name>
        <servlet-class>servleti.Reklamacije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaReklamacija</servlet-name>
        <servlet-class>servleti.ListaReklamacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kupovina</servlet-name>
        <servlet-class>servleti.Kupovina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KupovinaK</servlet-name>
        <servlet-class>servleti.KupovinaK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kupi</servlet-name>
        <servlet-class>servleti.Kupi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KupovinaTest</servlet-name>
        <servlet-class>servleti.KupovinaTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzbrisiFilm</servlet-name>
        <servlet-class>servleti.IzbrisiFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservacija</servlet-name>
        <servlet-class>servleti.Reservacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilmRezLista</servlet-name>
        <servlet-class>servleti.FilmRezLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservisi</servlet-name>
        <servlet-class>servleti.Reservisi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzbrisiKorisnika</servlet-name>
        <servlet-class>servleti.IzbrisiKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaRezervacija</servlet-name>
        <servlet-class>servleti.ListaRezervacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzbrisiRezervacija</servlet-name>
        <servlet-class>servleti.IzbrisiRezervacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MojeRezervacije</servlet-name>
        <servlet-class>servleti.MojeRezervacije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzbrisiProizvod</servlet-name>
        <servlet-class>servleti.IzbrisiProizvod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaKupovina</servlet-name>
        <servlet-class>servleti.ListaKupovina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzbrisiKupovina</servlet-name>
        <servlet-class>servleti.IzbrisiKupovina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProizvodaKlijent</servlet-name>
        <servlet-class>servleti.ListaProizvodaKlijent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MojaKupovina</servlet-name>
        <servlet-class>servleti.MojaKupovina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipKorisnika</servlet-name>
        <servlet-class>servleti.TipKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KategorijaFilmova</servlet-name>
        <servlet-class>servleti.KategorijaFilmova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaKategorija</servlet-name>
        <servlet-class>servleti.ListaKategorija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzbrisiKupovinaZaKorisnika</servlet-name>
        <servlet-class>servleti.IzbrisiKupovinaZaKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrajleriF</servlet-name>
        <servlet-class>servleti.TrajleriF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiataKorisnikaMenadjer</servlet-name>
        <servlet-class>servleti.LiataKorisnikaMenadjer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaFilmovaMenadjer</servlet-name>
        <servlet-class>servleti.ListaFilmovaMenadjer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaKupovinaMenadjer</servlet-name>
        <servlet-class>servleti.ListaKupovinaMenadjer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProizvodaMenadjer</servlet-name>
        <servlet-class>servleti.ListaProizvodaMenadjer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaRezervacijaMenadjer</servlet-name>
        <servlet-class>servleti.ListaRezervacijaMenadjer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaKategorijaAkcija</servlet-name>
        <servlet-class>servleti.ListaKategorijaAkcija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaKategorijaCrtaniFilmovi</servlet-name>
        <servlet-class>servleti.ListaKategorijaCrtaniFilmovi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaKategorijaDrama</servlet-name>
        <servlet-class>servleti.ListaKategorijaDrama</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detalji</servlet-name>
        <servlet-class>servleti.Detalji</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logovanje</servlet-name>
        <url-pattern>/Logovanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistracijaKorisnika</servlet-name>
        <url-pattern>/RegistracijaKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaKorisnika</servlet-name>
        <url-pattern>/ListaKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaKorisnika1</servlet-name>
        <url-pattern>/ListaKorisnika1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Izlgovanje</servlet-name>
        <url-pattern>/Izlgovanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AzuriranjeKorisnika</servlet-name>
        <url-pattern>/AzuriranjeKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromeniKorisnika</servlet-name>
        <url-pattern>/PromeniKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dodajfilm</servlet-name>
        <url-pattern>/Dodajfilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaFilmova</servlet-name>
        <url-pattern>/ListaFilmova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromeniFilm</servlet-name>
        <url-pattern>/PromeniFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFilmovi</servlet-name>
        <url-pattern>/UpdateFilmovi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajSale</servlet-name>
        <url-pattern>/DodajSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjeProizvoda</servlet-name>
        <url-pattern>/DodavanjeProizvoda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProizvoda</servlet-name>
        <url-pattern>/ListaProizvoda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reklamacija</servlet-name>
        <url-pattern>/Reklamacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reklamacije</servlet-name>
        <url-pattern>/Reklamacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaReklamacija</servlet-name>
        <url-pattern>/ListaReklamacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kupovina</servlet-name>
        <url-pattern>/Kupovina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KupovinaK</servlet-name>
        <url-pattern>/KupovinaK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kupi</servlet-name>
        <url-pattern>/Kupi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KupovinaTest</servlet-name>
        <url-pattern>/KupovinaTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzbrisiFilm</servlet-name>
        <url-pattern>/IzbrisiFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservacija</servlet-name>
        <url-pattern>/Reservacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilmRezLista</servlet-name>
        <url-pattern>/FilmRezLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservisi</servlet-name>
        <url-pattern>/Reservisi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzbrisiKorisnika</servlet-name>
        <url-pattern>/IzbrisiKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaRezervacija</servlet-name>
        <url-pattern>/ListaRezervacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzbrisiRezervacija</servlet-name>
        <url-pattern>/IzbrisiRezervacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MojeRezervacije</servlet-name>
        <url-pattern>/MojeRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzbrisiProizvod</servlet-name>
        <url-pattern>/IzbrisiProizvod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaKupovina</servlet-name>
        <url-pattern>/ListaKupovina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzbrisiKupovina</servlet-name>
        <url-pattern>/IzbrisiKupovina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProizvodaKlijent</servlet-name>
        <url-pattern>/ListaProizvodaKlijent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MojaKupovina</servlet-name>
        <url-pattern>/MojaKupovina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipKorisnika</servlet-name>
        <url-pattern>/TipKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KategorijaFilmova</servlet-name>
        <url-pattern>/KategorijaFilmova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaKategorija</servlet-name>
        <url-pattern>/ListaKategorija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzbrisiKupovinaZaKorisnika</servlet-name>
        <url-pattern>/IzbrisiKupovinaZaKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrajleriF</servlet-name>
        <url-pattern>/TrajleriF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiataKorisnikaMenadjer</servlet-name>
        <url-pattern>/LiataKorisnikaMenadjer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaFilmovaMenadjer</servlet-name>
        <url-pattern>/ListaFilmovaMenadjer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaKupovinaMenadjer</servlet-name>
        <url-pattern>/ListaKupovinaMenadjer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProizvodaMenadjer</servlet-name>
        <url-pattern>/ListaProizvodaMenadjer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaRezervacijaMenadjer</servlet-name>
        <url-pattern>/ListaRezervacijaMenadjer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaKategorijaAkcija</servlet-name>
        <url-pattern>/ListaKategorijaAkcija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaKategorijaCrtaniFilmovi</servlet-name>
        <url-pattern>/ListaKategorijaCrtaniFilmovi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaKategorijaDrama</servlet-name>
        <url-pattern>/ListaKategorijaDrama</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detalji</servlet-name>
        <url-pattern>/Detalji</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
